<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/4c7ef16f3f.js" crossorigin="anonymous"></script>
    <!--下記link→packに変更-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <heder>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navber-brand" href="/">Bookers</a>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %> <!--ログインしていれば-->
                <li>
                  <%= link_to(user_path(current_user.id), class:"nav-link text-light") do %>
                     <i class="fas fa-home"></i><span>Home</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(users_path, class:"nav-link text-light") do %>
                    <i class="fa-solid fa-users"></i><span>Users</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(books_path, class:"nav-link text-light") do %>
                    <i class="fa-solid fa-book-open"></i><span>Books</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(destroy_user_session_path, method: :delete, class:"nav-link text-light") do %>
                    <i class="fas fa-sign-out-alt"></i></i><span>Log out</span>
                  <% end %>
                </li>
              <% else %> <!--ログインしていなければ -->
                <li>
                  <%= link_to(root_path, class:"nav-link text-light") do  %>
                    <i class="fas fa-home"></i><span>Home</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(about_path, class:"nav-link text-light") do %>
                    <i class="fa-solid fa-link"></i><span>About</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(new_user_registration_path, class:"nav-link text-light") do %>
                    <i class="fa-solid fa-user-plus"></i><span>Sign up</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(new_user_session_path, class:"nav-link text-light") do %>
                    <i class="fas fa-sign-in-alt"></i><span>Log in</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </heder>
    <%= yield %> <!--ここに他のページの情報が読み込まれる-->
    <footer>
      <div class="contsiner mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
